/*font-family: 'Ubuntu', sans-serif;*/
html,body{
    
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    
}

body{
    
background-image: url(assets/toronto.jpg);
    background-size: cover;
    background-position: center;
    font-size: 30px;
    text-align: center;
  
    text-align: center;
    margin-top: 200px;
    text-shadow: 4px 4px 8px rgba(150, 150, 150, 1);
}


#currentLocation{
    color: white;
    font-size: 60px;
    font-weight: 700;
}